/* #game-board {
    margin-top: 80px;
    margin-left: 360px;
} */

canvas {
    border: 2px solid #6A611F;
    background-color: white;
}

body {
    background-image: url('../images/bending-icons.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}



